.player{
    background-color: lightblue;
    width: 300px;
    height: 470px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    color: black;
}
.player:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #FF0000;
}
.player img{
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 100px;
}
.player p{
    font-weight: 500;
    color: gray;
}
.player button{
    font-weight: 500;
    width: 150px;
}
.player button:hover{
    background-color: red;
    color: white;
}